# Workbook and worksheet

Understand workbook and worksheet

In [19]:
import openpyxl  # we are goingt o use this libary to work with Excel

In [20]:
# create empty workbook
empty_wb = openpyxl.Workbook()

In [21]:
# create workbook obj
wb = openpyxl.load_workbook('drinks.xlsx')

In [22]:
wb.sheetnames  # see all the worksheets

['Sheet 1 - drinks']

In [23]:
sheet = wb['Sheet 1 - drinks']

In [24]:
# specify a cell
sheet['A1'].value

'drinks'

In [25]:
# cell obj has column and row attribute you can use
sheet['A1'].column
sheet['A1'].row
sheet['A2'].coordinate # get cell name using coordinate

'A2'

In [26]:
# use "cell" index
sheet.cell(2, 3).value

'spirit_servings'

In [27]:
sheet.cell(2, 3).coordinate

'C2'

In [28]:
# see max row and column
sheet.max_row
sheet.max_column

6

In [29]:
# Some helper functions to help know the column <-> index
from openpyxl.utils import get_column_letter, column_index_from_string
get_column_letter(11)

'K'

In [30]:
column_index_from_string("AA")

27

In [31]:
# get a range
for i in sheet['A1': 'C3']:
    for j in i:
        print(j.coordinate)
        print(j.value)

A1
drinks
B1
None
C1
None
A2
country
B2
beer_servings
C2
spirit_servings
A3
Afghanistan
B3
0
C3
0

In [32]:
# creating and saving excel documents
sheet.title

'Sheet 1 - drinks'

In [33]:
wb.active  # get the active sheet

In [34]:
sheet.title = "changed drinks"

In [35]:
# save workbook
wb.save("new_drinks.xlsx")

In [36]:
# create new sheet
wb.create_sheet(index=0, title="first_sheet")

In [37]:
wb['first_sheet']["A1"].value = "new value"

In [38]:
wb.create_sheet(index=0, title="dummy")
# delete sheet
del wb['dummy']

In [39]:
wb.sheetnames

['first_sheet', 'changed drinks']

In [79]:
# get all cells for a row
sheet[2]

(<Cell 'changed drinks'.A2>,
 <Cell 'changed drinks'.B2>,
 <Cell 'changed drinks'.C2>,
 <Cell 'changed drinks'.D2>,
 <Cell 'changed drinks'.E2>,
 <Cell 'changed drinks'.F2>)

In [80]:
# get all cells for a range of rows
sheet[2:3]

((<Cell 'changed drinks'.A2>,
  <Cell 'changed drinks'.B2>,
  <Cell 'changed drinks'.C2>,
  <Cell 'changed drinks'.D2>,
  <Cell 'changed drinks'.E2>,
  <Cell 'changed drinks'.F2>),
 (<Cell 'changed drinks'.A3>,
  <Cell 'changed drinks'.B3>,
  <Cell 'changed drinks'.C3>,
  <Cell 'changed drinks'.D3>,
  <Cell 'changed drinks'.E3>,
  <Cell 'changed drinks'.F3>))

In [42]:
# get all cells for a column
sheet['A'][:5]

(<Cell 'changed drinks'.A1>,
 <Cell 'changed drinks'.A2>,
 <Cell 'changed drinks'.A3>,
 <Cell 'changed drinks'.A4>,
 <Cell 'changed drinks'.A5>)

# Formulas

In [43]:
sheet["G3"] = "=SUM(B3:D3)"  # simply apply the string formula

In [64]:
# apply formulas for entire column
last_row = len(sheet["G"])
cell_range = sheet["G4": "G" + str(last_row)]

for col in cell_range:
    for cell in col:
        row_num = cell.row
        formula = f"=SUM(B{row_num}:D{row_num})"
        cell.value = formula

In [65]:
sheet['G100'].value

'=SUM(B100:D100)'

In [66]:
wb.save("formula.xlsx")

In [46]:
# formula utils
from openpyxl.utils import FORMULAE
FORMULAE # set of fx

frozenset({'ABS',
           'ACCRINT',
           'ACCRINTM',
           'ACOS',
           'ACOSH',
           'AMORDEGRC',
           'AMORLINC',
           'AND',
           'AREAS',
           'ASC',
           'ASIN',
           'ASINH',
           'ATAN',
           'ATAN2',
           'ATANH',
           'AVEDEV',
           'AVERAGE',
           'AVERAGEA',
           'AVERAGEIF',
           'AVERAGEIFS',
           'BAHTTEXT',
           'BESSELI',
           'BESSELJ',
           'BESSELK',
           'BESSELY',
           'BETADIST',
           'BETAINV',
           'BIN2DEC',
           'BIN2HEX',
           'BIN2OCT',
           'BINOMDIST',
           'CEILING',
           'CELL',
           'CHAR',
           'CHIDIST',
           'CHIINV',
           'CHITEST',
           'CHOOSE',
           'CLEAN',
           'CODE',
           'COLUMN',
           'COLUMNS',
           'COMBIN',
           'COMPLEX',
           'CONCATENATE',
           'CONFIDENCE',
           'CONVERT',
           'CORREL',
           'COS',
           'COSH',
           'COUNT',
           'COUNTA',
           'COUNTBLANK',
           'COUNTIF',
           'COUNTIFS',
           'COUPDAYBS',
           'COUPDAYS',
           'COUPDAYSNC',
           'COUPNCD',
           'COUPNUM',
           'COUPPCD',
           'COVAR',
           'CRITBINOM',
           'CUBEKPIMEMBER',
           'CUBEMEMBER',
           'CUBEMEMBERPROPERTY',
           'CUBERANKEDMEMBER',
           'CUBESET',
           'CUBESETCOUNT',
           'CUBEVALUE',
           'CUMIPMT',
           'CUMPRINC',
           'DATE',
           'DATEDIF',
           'DATEVALUE',
           'DAVERAGE',
           'DAY',
           'DAYS360',
           'DB',
           'DCOUNT',
           'DCOUNTA',
           'DDB',
           'DEC2BIN',
           'DEC2HEX',
           'DEC2OCT',
           'DEGREES',
           'DELTA',
           'DEVSQ',
           'DGET',
           'DISC',
           'DMAX',
           'DMIN',
           'DOLLAR',
           'DOLLARDE',
           'DOLLARFR',
           'DPRODUCT',
           'DSTDEV',
           'DSTDEVP',
           'DSUM',
           'DURATION',
           'DVAR',
           'DVARP',
           'ECMA.CEILING',
           'EDATE',
           'EFFECT',
           'EOMONTH',
           'ERF',
           'ERFC',
           'ERROR.TYPE',
           'EVEN',
           'EXACT',
           'EXP',
           'EXPONDIST',
           'FACT',
           'FACTDOUBLE',
           'FALSE',
           'FDIST',
           'FIND',
           'FINDB',
           'FINV',
           'FISHER',
           'FISHERINV',
           'FIXED',
           'FLOOR',
           'FORECAST',
           'FREQUENCY',
           'FTEST',
           'FV',
           'FVSCHEDULE',
           'GAMMADIST',
           'GAMMAINV',
           'GAMMALN',
           'GCD',
           'GEOMEAN',
           'GESTEP',
           'GETPIVOTDATA',
           'GROWTH',
           'HARMEAN',
           'HEX2BIN',
           'HEX2DEC',
           'HEX2OCT',
           'HLOOKUP',
           'HOUR',
           'HYPERLINK',
           'HYPGEOMDIST',
           'IF',
           'IFERROR',
           'IMABS',
           'IMAGINARY',
           'IMARGUMENT',
           'IMCONJUGATE',
           'IMCOS',
           'IMDIV',
           'IMEXP',
           'IMLN',
           'IMLOG10',
           'IMLOG2',
           'IMPOWER',
           'IMPRODUCT',
           'IMREAL',
           'IMSIN',
           'IMSQRT',
           'IMSUB',
           'IMSUM',
           'INDEX',
           'INDIRECT',
           'INFO',
           'INT',
           'INTERCEPT',
           'INTRATE',
           'IPMT',
           'IRR',
           'ISBLANK',
           'ISERR',
           'ISERROR',
           'ISEVEN',
           'ISLOGICAL',
           'ISNA',
           'ISNONTEXT',
           'ISNUMBER',
           'ISO.CEILING',
           'ISODD',
           'ISPMT',
           'ISREF',
           'ISTEXT',
           'JIS',
           'KURT',
           'LARGE',
           'LCM',
           'LEFT',
           'LEFTB',
           'LEN',
           'LENB',
           'LINEST',
           'LN',
           'LOG',
           'LOG10',
           'LOGEST',
           'LOGINV',
           'LOGNORMDIST',
           'LOOKUP',
           'LOWER',
           'MATCH',
           'MAX',
           'MAXA',
           'MDETERM',
           'MDURATION',
           'MEDIAN',
           'MID',
           'MIDB',
           'MIN',
           'MINA',
           'MINUTE',
           'MINVERSE',
           'MIRR',
           'MMULT',
           'MOD',
           'MODE',
           'MONTH',
           'MROUND',
           'MULTINOMIAL',
           'N',
           'NA',
           'NEGBINOMDIST',
           'NETWORKDAYS',
           'NETWORKDAYS.INTL',
           'NOMINAL',
           'NORMDIST',
           'NORMINV',
           'NORMSDIST',
           'NORMSINV',
           'NOT',
           'NOW',
           'NPER',
           'NPV',
           'OCT2BIN',
           'OCT2DEC',
           'OCT2HEX',
           'ODD',
           'ODDFPRICE',
           'ODDFYIELD',
           'ODDLPRICE',
           'ODDLYIELD',
           'OFFSET',
           'OR',
           'PEARSON',
           'PERCENTILE',
           'PERCENTRANK',
           'PERMUT',
           'PHONETIC',
           'PI',
           'PMT',
           'POISSON',
           'POWER',
           'PPMT',
           'PRICE',
           'PRICEDISC',
           'PRICEMAT',
           'PROB',
           'PRODUCT',
           'PROPER',
           'PV',
           'QUARTILE',
           'QUOTIENT',
           'RADIANS',
           'RAND',
           'RANDBETWEEN',
           'RANK',
           'RATE',
           'RECEIVED',
           'REPLACE',
           'REPLACEB',
           'REPT',
           'RIGHT',
           'RIGHTB',
           'ROMAN',
           'ROUND',
           'ROUNDDOWN',
           'ROUNDUP',
           'ROW',
           'ROWS',
           'RSQ',
           'RTD',
           'SEARCH',
           'SEARCHB',
           'SECOND',
           'SERIESSUM',
           'SIGN',
           'SIN',
           'SINH',
           'SKEW',
           'SLN',
           'SLOPE',
           'SMALL',
           'SQRT',
           'SQRTPI',
           'STANDARDIZE',
           'STDEV STDEVA',
           'STDEVP',
           'STDEVPA STEYX',
           'SUBSTITUTE',
           'SUBTOTAL',
           'SUM',
           'SUMIF',
           'SUMIFS',
           'SUMPRODUCT',
           'SUMSQ',
           'SUMX2MY2',
           'SUMX2PY2',
           'SUMXMY2',
           'SYD',
           'T',
           'TAN',
           'TANH',
           'TBILLEQ',
           'TBILLPRICE',
           'TBILLYIELD',
           'TDIST',
           'TEXT',
           'TIME',
           'TIMEVALUE',
           'TINV',
           'TODAY',
           'TRANSPOSE',
           'TREND',
           'TRIM',
           'TRIMMEAN',
           'TRUE ADDRESS',
           'TRUNC',
           'TTEST',
           'TYPE',
           'UPPER',
           'VALUE',
           'VAR',
           'VARA',
           'VARP',
           'VARPA',
           'VDB',
           'VLOOKUP',
           'WEEKDAY',
           'WEEKNUM',
           'WEIBULL',
           'WORKDAY ',
           'WORKDAY.INTL',
           'XIRR',
           'XNPV',
           'YEAR',
           'YEARFRAC',
           'YIELD',
           'YIELDDISC',
           'YIELDMAT',
           'ZTEST'})

# set row height and col width

In [84]:
sheet.row_dimensions[1].height = 50
sheet.column_dimensions['B'].width = 25

In [85]:
wb.save("height_and_width.xlsx")

# merge cells

In [86]:
wb.sheetnames

['first_sheet', 'changed drinks']

In [87]:
wb.create_sheet("first_sheet")

In [88]:
wb['first_sheet']['A1'] = "Merged"

In [89]:
wb['first_sheet'].merge_cells("A1:D2")

In [90]:

wb['first_sheet']['A1'].font = Font(size=36, bold=True)

In [91]:
#del wb['first_sheet']

In [92]:
wb.save("merged.xlsx")

# freeze pans

In [93]:
sheet.freeze_panes = "A3" # free rows above A3
wb.save("freeze.xlsx")

# if you do "B2" you will freeze column A and Row 1

# Adanced

In [96]:
rows = sheet.iter_rows(
    min_row=3, 
    max_row=1000, 
    values_only=False)

In [97]:
## you can loop thru them 
# for row in rows:
#     for cell in row:
#         print(cell.coordinate)

In [98]:
def print_row(i:int):
    for cell in sheet[i]:
        print(cell.value)
print_row(4)

Albania
89
132
54
4.9
EU
None

## Insert, delete rows and columns

In [99]:
# insert rows and columns
sheet.insert_cols(idx=7, amount=1) # insert 1 column in index 7

In [100]:
sheet.insert_rows(idx=10, amount=1)

In [101]:
sheet.delete_cols(idx=7, amount=1)

In [102]:
print_row(10)

None
None
None
None
None
None
None

In [103]:
sheet.delete_rows(idx=10, amount=1)

## Add filters

In [104]:
sheet.dimensions # see the shape

'A1:G195'

In [105]:
sheet.auto_filter.ref = "A2:J195" # add filter bar to  everything

## Formula utils

In [106]:
from openpyxl.utils import FORMULAE

In [107]:
FORMULAE # set of fx

frozenset({'ABS',
           'ACCRINT',
           'ACCRINTM',
           'ACOS',
           'ACOSH',
           'AMORDEGRC',
           'AMORLINC',
           'AND',
           'AREAS',
           'ASC',
           'ASIN',
           'ASINH',
           'ATAN',
           'ATAN2',
           'ATANH',
           'AVEDEV',
           'AVERAGE',
           'AVERAGEA',
           'AVERAGEIF',
           'AVERAGEIFS',
           'BAHTTEXT',
           'BESSELI',
           'BESSELJ',
           'BESSELK',
           'BESSELY',
           'BETADIST',
           'BETAINV',
           'BIN2DEC',
           'BIN2HEX',
           'BIN2OCT',
           'BINOMDIST',
           'CEILING',
           'CELL',
           'CHAR',
           'CHIDIST',
           'CHIINV',
           'CHITEST',
           'CHOOSE',
           'CLEAN',
           'CODE',
           'COLUMN',
           'COLUMNS',
           'COMBIN',
           'COMPLEX',
           'CONCATENATE',
           'CONFIDENCE',
           'CONVERT',
           'CORREL',
           'COS',
           'COSH',
           'COUNT',
           'COUNTA',
           'COUNTBLANK',
           'COUNTIF',
           'COUNTIFS',
           'COUPDAYBS',
           'COUPDAYS',
           'COUPDAYSNC',
           'COUPNCD',
           'COUPNUM',
           'COUPPCD',
           'COVAR',
           'CRITBINOM',
           'CUBEKPIMEMBER',
           'CUBEMEMBER',
           'CUBEMEMBERPROPERTY',
           'CUBERANKEDMEMBER',
           'CUBESET',
           'CUBESETCOUNT',
           'CUBEVALUE',
           'CUMIPMT',
           'CUMPRINC',
           'DATE',
           'DATEDIF',
           'DATEVALUE',
           'DAVERAGE',
           'DAY',
           'DAYS360',
           'DB',
           'DCOUNT',
           'DCOUNTA',
           'DDB',
           'DEC2BIN',
           'DEC2HEX',
           'DEC2OCT',
           'DEGREES',
           'DELTA',
           'DEVSQ',
           'DGET',
           'DISC',
           'DMAX',
           'DMIN',
           'DOLLAR',
           'DOLLARDE',
           'DOLLARFR',
           'DPRODUCT',
           'DSTDEV',
           'DSTDEVP',
           'DSUM',
           'DURATION',
           'DVAR',
           'DVARP',
           'ECMA.CEILING',
           'EDATE',
           'EFFECT',
           'EOMONTH',
           'ERF',
           'ERFC',
           'ERROR.TYPE',
           'EVEN',
           'EXACT',
           'EXP',
           'EXPONDIST',
           'FACT',
           'FACTDOUBLE',
           'FALSE',
           'FDIST',
           'FIND',
           'FINDB',
           'FINV',
           'FISHER',
           'FISHERINV',
           'FIXED',
           'FLOOR',
           'FORECAST',
           'FREQUENCY',
           'FTEST',
           'FV',
           'FVSCHEDULE',
           'GAMMADIST',
           'GAMMAINV',
           'GAMMALN',
           'GCD',
           'GEOMEAN',
           'GESTEP',
           'GETPIVOTDATA',
           'GROWTH',
           'HARMEAN',
           'HEX2BIN',
           'HEX2DEC',
           'HEX2OCT',
           'HLOOKUP',
           'HOUR',
           'HYPERLINK',
           'HYPGEOMDIST',
           'IF',
           'IFERROR',
           'IMABS',
           'IMAGINARY',
           'IMARGUMENT',
           'IMCONJUGATE',
           'IMCOS',
           'IMDIV',
           'IMEXP',
           'IMLN',
           'IMLOG10',
           'IMLOG2',
           'IMPOWER',
           'IMPRODUCT',
           'IMREAL',
           'IMSIN',
           'IMSQRT',
           'IMSUB',
           'IMSUM',
           'INDEX',
           'INDIRECT',
           'INFO',
           'INT',
           'INTERCEPT',
           'INTRATE',
           'IPMT',
           'IRR',
           'ISBLANK',
           'ISERR',
           'ISERROR',
           'ISEVEN',
           'ISLOGICAL',
           'ISNA',
           'ISNONTEXT',
           'ISNUMBER',
           'ISO.CEILING',
           'ISODD',
           'ISPMT',
           'ISREF',
           'ISTEXT',
           'JIS',
           'KURT',
           'LARGE',
           'LCM',
           'LEFT',
           'LEFTB',
           'LEN',
           'LENB',
           'LINEST',
           'LN',
           'LOG',
           'LOG10',
           'LOGEST',
           'LOGINV',
           'LOGNORMDIST',
           'LOOKUP',
           'LOWER',
           'MATCH',
           'MAX',
           'MAXA',
           'MDETERM',
           'MDURATION',
           'MEDIAN',
           'MID',
           'MIDB',
           'MIN',
           'MINA',
           'MINUTE',
           'MINVERSE',
           'MIRR',
           'MMULT',
           'MOD',
           'MODE',
           'MONTH',
           'MROUND',
           'MULTINOMIAL',
           'N',
           'NA',
           'NEGBINOMDIST',
           'NETWORKDAYS',
           'NETWORKDAYS.INTL',
           'NOMINAL',
           'NORMDIST',
           'NORMINV',
           'NORMSDIST',
           'NORMSINV',
           'NOT',
           'NOW',
           'NPER',
           'NPV',
           'OCT2BIN',
           'OCT2DEC',
           'OCT2HEX',
           'ODD',
           'ODDFPRICE',
           'ODDFYIELD',
           'ODDLPRICE',
           'ODDLYIELD',
           'OFFSET',
           'OR',
           'PEARSON',
           'PERCENTILE',
           'PERCENTRANK',
           'PERMUT',
           'PHONETIC',
           'PI',
           'PMT',
           'POISSON',
           'POWER',
           'PPMT',
           'PRICE',
           'PRICEDISC',
           'PRICEMAT',
           'PROB',
           'PRODUCT',
           'PROPER',
           'PV',
           'QUARTILE',
           'QUOTIENT',
           'RADIANS',
           'RAND',
           'RANDBETWEEN',
           'RANK',
           'RATE',
           'RECEIVED',
           'REPLACE',
           'REPLACEB',
           'REPT',
           'RIGHT',
           'RIGHTB',
           'ROMAN',
           'ROUND',
           'ROUNDDOWN',
           'ROUNDUP',
           'ROW',
           'ROWS',
           'RSQ',
           'RTD',
           'SEARCH',
           'SEARCHB',
           'SECOND',
           'SERIESSUM',
           'SIGN',
           'SIN',
           'SINH',
           'SKEW',
           'SLN',
           'SLOPE',
           'SMALL',
           'SQRT',
           'SQRTPI',
           'STANDARDIZE',
           'STDEV STDEVA',
           'STDEVP',
           'STDEVPA STEYX',
           'SUBSTITUTE',
           'SUBTOTAL',
           'SUM',
           'SUMIF',
           'SUMIFS',
           'SUMPRODUCT',
           'SUMSQ',
           'SUMX2MY2',
           'SUMX2PY2',
           'SUMXMY2',
           'SYD',
           'T',
           'TAN',
           'TANH',
           'TBILLEQ',
           'TBILLPRICE',
           'TBILLYIELD',
           'TDIST',
           'TEXT',
           'TIME',
           'TIMEVALUE',
           'TINV',
           'TODAY',
           'TRANSPOSE',
           'TREND',
           'TRIM',
           'TRIMMEAN',
           'TRUE ADDRESS',
           'TRUNC',
           'TTEST',
           'TYPE',
           'UPPER',
           'VALUE',
           'VAR',
           'VARA',
           'VARP',
           'VARPA',
           'VDB',
           'VLOOKUP',
           'WEEKDAY',
           'WEEKNUM',
           'WEIBULL',
           'WORKDAY ',
           'WORKDAY.INTL',
           'XIRR',
           'XNPV',
           'YEAR',
           'YEARFRAC',
           'YIELD',
           'YIELDDISC',
           'YIELDMAT',
           'ZTEST'})

# style

In [108]:
from openpyxl.styles import Font, Color, Alignment, Border, Side, colors

In [109]:
sheet["A2"].font = Font(size=36, italic=True, bold=True, name="Calibri")

In [110]:
# let's create all these styles

# center text
center_aligned_text = Alignment(horizontal="center")
double_side_border = Side(border_style='double')
square_border = Border(
    top=double_side_border,
    right=double_side_border,
    bottom=double_side_border,
    left=double_side_border
)

In [111]:
# stype some cells
sheet["A1"].font = Font(size=36, color=colors.BLUE, italic=True, bold=True, name="Calibri")
sheet["A1"].alignment = center_aligned_text
sheet['A1'].border = square_border

In [112]:
wb.save("new_style.xlsx")

In [113]:
# use NameStyle to compiple styles so you can easily apply to mutiple cells
from openpyxl.styles import NamedStyle
header = NamedStyle(name='header')
header.font = Font(size=30, bold=True)
header.border = Border(bottom=Side(border_style="thick"))
header.alignment = Alignment(horizontal="center", vertical="center")

# apply style to cells
for cell in sheet[2]:
    cell.style = header

## Conditional formatting

In [114]:
from openpyxl.styles import PatternFill, colors
from openpyxl.styles.differential import DifferentialStyle
from openpyxl.formatting.rule import Rule

RED = "00FF5733"
red_background = PatternFill(bgColor=RED) # make a filled color

# create diff style
diff_style = DifferentialStyle(fill=red_background)

# create rule with diff style
rule = Rule(type="expression", dxf=diff_style)
# specify formula
rule.formula = ["$C3>100"]

# add to conditional format
sheet.conditional_formatting.add("B3:E1000", rule)

In [115]:
wb.save("new_style.xlsx")

In [116]:
# some built-ins for common styles
from openpyxl.formatting.rule import ColorScaleRule

blue = "003385FF"
green = "00267934"
red = "00DB133B"

# create color scales from start to end
color_scale_rule = ColorScaleRule(
    start_type="min",
    start_color=red,
    end_type="max",
    end_color=blue
)

sheet.conditional_formatting.add("B3:E1000", color_scale_rule)

In [117]:
wb.save("new_style.xlsx")

In [118]:
# you can also add icons
from openpyxl.formatting.rule import IconSetRule

icon_set_rule = IconSetRule("3Arrows", "num", [0, 100, 200])
sheet.conditional_formatting.add("B3:E1000", icon_set_rule)

In [119]:
wb.save("new_style.xlsx")

In [120]:
# progress bar
from openpyxl.formatting.rule import DataBarRule

data_bar_rule = DataBarRule(
    start_type="num",
    start_value=1,
    end_type="num",
    end_value="20",
    color=green
)

sheet.conditional_formatting.add("E3:E200",data_bar_rule)

In [121]:
wb.save("new_style.xlsx")

## add image

In [122]:
# you need to pip install Pillow

In [123]:
from openpyxl.drawing.image import Image
logo = Image("thebotcrew_v13.jpg")

logo.height = 150
logo.width = 150

sheet.add_image(logo, "H4")

In [124]:
wb.save("new_style.xlsx")

In [94]:
# see my data range
for i in range(3, 11):
    print(sheet.cell(i, 2).value)

0
89
25
245
217
102
193
21

In [95]:
from openpyxl import chart

# create data reference
ref_obj = chart.Reference(sheet, min_col=2, min_row=3, max_col=2, max_row=11)
# make dataobj
series_obj = chart.Series(ref_obj, title="My series")

# create chart obj
chart_obj = chart.BarChart()
chart_obj.title = "My chart"

# add dataobj tp chart obj or you can use chart_obj.add_data(data). see below
chart_obj.append(series_obj)

# specify where you want the chart to appear
sheet.add_chart(chart_obj, "H3")

wb.save("chart.xlsx")

## build a chart from scrach

In [168]:
# create a new wb
from openpyxl import Workbook
from openpyxl.chart import LineChart, Reference
import random

wb2 = Workbook()
sheet_bar_chart = wb2.active

rows = [
    ["", "Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],
    ["food", ], # these are index
    ["gas", ],
    ["house", ]
]

for row in rows:
    sheet_bar_chart.append(row) # append the list to sheet, row after row

for row in sheet_bar_chart.iter_rows(min_row=2, max_row=4, min_col=2, max_col=13):
    for cell in row:
        cell.value = random.randrange(5, 100)

In [169]:
# use line chart
line_chart = LineChart()
data = Reference(
    worksheet=sheet_bar_chart,
    min_row=2,
    max_row=4,
    min_col=1,
    max_col=13
)

# here we use add data
line_chart.add_data(
    data, 
    from_rows=True,  # takes the data row by row rather than column by column. By default it takes columns
    titles_from_data=True)
sheet_bar_chart.add_chart(line_chart, "C6")

# set categories 
categories = Reference(
    worksheet=sheet_bar_chart,
    min_row=1,
    max_row=1,
    min_col=2,
    max_col=13
)
line_chart.set_categories(categories)


# add axis title
line_chart.x_axis.title = 'Month'
line_chart.y_axis.title = 'Sales'

# chart style between 1 and 48  -- doesn't seem to work
# chart.style = 24

In [170]:
wb2.save("new_chart.xlsx")

# Integrate with pandas

In [171]:
import pandas as pd

In [194]:
data = {
    "name": ["Tom", "John", "Ken"],
    "age": [30, 40, 50],
    "height": [5, 6, 7]
}

df = pd.DataFrame(data)

In [207]:
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

workbook = Workbook()
st = workbook.active

rows = dataframe_to_rows(df, index=False, header=True)
for row in rows:
    st.append(row)

In [208]:
# workbook.save("from_df.xlsx")

In [209]:
# convert wb back to df is also doable
to_df = pd.DataFrame(st.values)

In [211]:
to_df

      0    1       2
0  name  age  height
1   Tom   30       5
2  John   40       6
3   Ken   50       7